<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <!-- CSS Stylesheet -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
		crossorigin="anonymous">
        <!--font awesome 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		

		<title>Burger Game</title>
		<!--Jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- JS burger script -->
		<script src="/assets/js/burger.js"></script>
		<!-- font awesome kit code -->
		<script src="https://kit.fontawesome.com/cba9f178ba.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>




