<div class="container-fluid">
<h1>The Game of Burger</h1>

<div class="row">
  <center>
    <form class="create-form">

  <div class="form-group">
    <label for="ca">Enter New Burger Name:</label>
    <input type="text" id="new_burger" name="burger_name">
  </div>

  <button type="submit">Create!</button>
</form>
   

    <!-- left side -->
    <div class="col-md-4">
      <h3 class="submitHeader">Burgers in Waiting</h3>
      <div id="burgersInWaiting">

        <div>  
          {{#each burgers}}
         {{#unless devoured}}

         </div>

        <!-- Add User Inputted Burger -->
         {{/unless}}
         {{/each}}
      </div>
    </div>

    <div class="col-md-4"></div>

    <!-- right side -->
    <div class="col-md-4">
      <h3 class="submitHeader">Burgers Devoured!!</h3>
      <div id="burgersDevoured">

        <!-- All Devoured Burgers -->
        {{#each burgers}}
         {{#if this.devoured}}
         <div class="input-group">
           <li class="form-control">{{this.id}} .{{this.burger_name}}</li>
         </div>
         {{/if}}
         {{/each}}
         
      </div>
    </div>
  </center>
</div>
</div>