<div class="container-fluid">


<div class="row">
  <center>
    <h1>The Game of Burger</h1>
    <form class="create-form">

  <div class="form-group">
    <label for="new_burger">Enter Burger Name:</label>
    <input type="text" id="new_burger" name="burger_name">
  </div>

  <button type="submit">Create!</button>
</form>
   

    <!-- left side -->
<div> 
<h2>Burgers In Waiting</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-devour devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

 <!-- right side -->
<div> 
<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-devour devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
    
 
      </div>
    </div>