<div class="container-fluid">

<div class="row">
  
  <center>
    <h1>The Game of Burger</h1> 
    <i class='fas fa-hamburger' style='font-size:48px;color:red'></i>
     <form class="create-form">
    
  <div class="form-group row g-2">
    <div class="col-md-2 offset-md-5">
      <div class="form-floating"> 
         <input type="text" class="form-control" id="new_burger" placeholder="Enter Burger Name">
      <label for="new_burger">Enter Burger Name</label>
    </div>
  </div>
  </div>

  <button type="submit">Create!</button>
</form>

  </center>

    <!-- left side -->
<div class="row justify-content-around"> 

<div class="col-4"> 
  
<ul>
  <h2>Burgers In Waiting</h2>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-devour devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>


 <!-- right side -->
<div class="col-4"> 


<ul>
  <h2>Devoured Burgers</h2>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-devour devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
    
 
      </div>
    </div>