body {
background-image: url("../../assets/images/burger_smoke.jpg");
} 

li {
	padding: 5px;
	margin: 5px;
  background: #faebd7;
  border-radius: 15px;
  list-style-type:none;
  }
  
  .label {
	font-weight: bold;
  }
  
  .create-form {
	padding: 5px;
	margin: 5px;
  }
  
  .form-group {
	margin-bottom: 5px;
  }

  h1, h2 {
	  color: white;
  }

  button {
    border-radius: 8px;
  }

  .fas fa-hamburger {
    color: red;
  }