<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{}}">
		{{#if devoured}}DEMOLISHED BURGERS!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
