<li>
	{{burger_name}}
    {{#if devoured}} DEMOLISHED BURGERS!

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">	 
	
    </button>
   
    {{/if}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE A BURGER!</button>
</li>
